<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<h2>[[${uri}]]</h2>
<table class="sts">
  <tr><th>method</th><td><span>[[${method}]]</span></td></tr>
  <tr><th>scheme</th><td><span>[[${scheme}]]</span></td></tr>
  <tr><th>serverName</th><td><span>[[${serverName}]]</span></td></tr>
  <tr><th>serverPort</th><td><span>[[${serverPort}]]</span></td></tr>
  <tr><th>conPath</th><td><span>[[${conPath}]]</span></td></tr>
  <tr><th>uri</th><td><span>[[${uri}]]</span></td></tr>
  <tr><th>reqPath</th><td><span>[[${reqPath}]]</span></td></tr>
  <tr><th>queryString</th><td><span>[[${queryString}]]</span></td></tr>
  <tr><th>name</th><td><span>[[${name}]]</span></td></tr>
  <tr><th>age</th><td><span>[[${age}]]</span></td></tr>


</table>

</body>
</html>