<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<form th:action="@{regOk}" method="GET">
    username: <input type="text" name="username" value="GET"/>
    <input type="submit" value="GET요청"/>
</form>
<hr>

<form th:action="@{regOk}" method="POST">
    username: <input type="text" name="username" value="POST"/>
    <input type="submit" value="POST요청"/>
</form>
<hr>

<form th:action="@{regOk2}" method="GET">
    username: <input type="text" name="username" value="GET-reGok2"/>
    <input type="submit" value="GET요청"/>
</form>
<hr>

<form th:action="@{regOk2}" method="POST">
    username: <input type="text" name="username" value="POST-reGok2"/>
    <input type="submit" value="POST요청"/>
</form>
<hr>

</html>